{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div class="row gx-2 gy-2 mt-2">
		{# loop through events and make custom "card" #}
		{% for event in events %}
			<div class="col-12 col-c-4 col-md-6">
				{# i know the id with a constant 0 at the start doesnt make a whole lot of sense but i think it looks cool! #}
				<h2 class="mx-5 fw-light text-light" style="position: absolute; font-size: 1rem;">[ID0{{ event.id }}]</h2>
				<a class="text-decoration-none" href="{{ path('app_events_show', {'id': event.id}) }}">
					{# twig / vsc is saying there's an error but i think its a false positive #}
					<div class="rounded-3 myMin-height" style="background-image: url( {{ event.image }} ); background-size: cover; background-position: center; background-repeat: no-repeat;">
						<div class="py-2 px-5 myCover myMin-height">
							<h2 class="display-2 text-dark fw-normal">{{ event.name }}</h2>
							<p class="bg-dark text-light w-50 px-2">{{ event.date ? event.date|date('Y/m/d H:i') : '' }}</p>
							{% if event.description|length > 40 %}
								<p class="bg-dark text-light w-50 px-2">{{ event.description|slice(0, 40) ~ '...' }}</p>
							{% else %}
								<p class="bg-dark text-light w-50 px-2">{{ event.description }}</p>
							{% endif %}
							<p class="bg-dark text-light w-50 px-2">our capacity: {{ event.capacity }}</p>
							<p class="bg-dark text-light w-50 px-2">{{ event.location }}</p>
						</div>
					</div>
				</a>
			</div>
		{% else %}
			<p>hmm, no events yet</p>
		{% endfor %}
	</div>	
{% endblock %}
